.part3 {
    margin-left: 10rem;
    margin-top: 3rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    width: 100%;
}

.question-group {
    flex: 1;
    margin: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
}

.question-card {
    display: flex;
    align-items: flex-start;
}

.question-image {
    width: 180px;
    height: auto;
    margin-right: 20px;
}

.question-text {
    flex: 1;
    text-align: left;
}

.answers-container {
    margin-left: 3px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.answers-container input[type="radio"] {
    margin-right: 5px;
}

.answer-label {
    text-align: left;
    flex: 1;
    margin: 0 5px;
}

.header-container {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between; /* Giữa các phần tử */
    margin-bottom: 20px; /* Khoảng cách dưới */
}

.intro-box {
    border: 1px solid #ccc; /* Đường viền khung */
    padding: 15px; /* Khoảng cách bên trong khung */
    margin-bottom: 20px; /* Khoảng cách dưới khung */
    background-color: #f9f9f9; /* Màu nền nhẹ cho khung */
    border-radius: 5px; /* Bo góc cho khung */
}

.intro-box h3 {
    margin-top: 0; /* Xóa khoảng cách trên tiêu đề */
}

.filter {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; /* Căn trái cho phần filter */
}

.filter label {
    margin-right: 10px;
    font-weight: bold;
}

.filter select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination .page-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.pagination .page-button:hover {
    background-color: #0056b3;
}

.pagination .page-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination .page-info {
    font-size: 16px;
    margin: 0 10px;
}